*{
    margin: 0;
    padding: 0;
}
.containermap{
    width: 100%;
    height: 150vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background: rgb(38, 38, 104);
}
.ab{
    width: 45%;
    height: 120vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 10vh;
}
.ab h3{
    color:white;
    margin: 30px;
    padding: 1px;

}
.ab i{
    color:rgb(230, 73, 99);
    margin-right:20px;
}
.a1{
    width: 45%;
    height: 120vh;
    /* border: 1px solid black; */
    margin-top: 10vh;
    display: flex;
    flex-direction: column ;
    justify-content:space-between;
}
.imgabc{
    width: 90%;
    height: 75vh;
    /* border: 1px solid black; */
    padding: 1px;
    background-image: url(map.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
}
.text{
    width: 100%;
    height: 20vh;
    /* border: 1px solid black; */

}
.iconabc {
    width: 100%;
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.iconabc i{
    color: white;
}
.text h1{
    color: white;
    font-size: 50px;
}
.ab p{
font-size: 18px;
color:rgb(189, 189, 219);
line-height: 24px;
margin-left:12%;
padding:10px
}