@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.news {
    background: #231769;
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
}

.news-head {
    width: 80%;
    margin: auto;
    height: 40vh;
    display: flex;
    align-items: center;
    position: relative;
}

.n-head-left {
    width: 50%;
    height: 40vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
}

.n-head-left>h3 {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    line-height: 30px;
}

.n-head-left>h3::after {
    position: absolute;
    box-sizing: border-box;
    left: -30px;
    top: 40px;
    /* bottom: 0; */
    width: 70px;
    height: 5px;
    content: "";
    background-color: #EC398B;
}

.n-head-right {
    position: relative;
    width: 50%;
    height: 40vh;
    /* height: 100%; */
    top: 40%;
}

.n-head-right>h2 {
    width: 350px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.news-body {
    width: 80%;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.news-box {
    width: 31.5%;
    height: 70vh;
}


.news-box:hover {
    animation: color 1s;
}

.news-box-inner {
    width: 100%;
    margin: auto;
    height: 70vh;
}

.news-box-inner::after {
    position: absolute;
    top: 90vh;
    bottom: 0;
    width: 25.3%;
    height: 70%;
    content: "";
    background: #EC398B;
    opacity: 0;
    box-sizing: border-box;
}

.news-box-inner:hover::after {
    opacity: 1;
    height: 1%;
    transition-duration: .5s;
    top: 165vh;
    /* animation: color .5s ease-in-out; */
    animation-fill-mode: forwards;
}

/* @keyframes color {
    0% {
        top: 110vh;
        opacity: 0;
    }

    50% {
        height: 50%;
        top: 110vh;
        opacity: .5;
        bottom: 0;
    }

    75% {
        height: 25%;
        top: 140vh;
        opacity: .5;
        bottom: 0;
    }

    100% {
        height: 1%;
        top: 165vh;
    }
} */

.news-box-inner>img {
    width: 100%;
}

.n-box-text {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.n-box-text>p:nth-of-type(1) {
    color: #EC398B;
    font-family: 'Karla', sans-serif;
}

.n-box-text>h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.n-box-text>p:nth-of-type(2) {
    color: #B4B3C5;
}

.ticket {
    width: 100%;
    height: 120vh;
    background: #231769;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.g-ticket {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(61, 40, 112, 0.32), rgba(61, 40, 112, 0.32)), url('t-img/get-ticket.png');
    background-position: 100% 100%;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

.ticket-text {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket-text>h3 {
    font-size: 40px;
    letter-spacing: 1px;
    /* margin-bottom: 10px; */
}

.ticket-text>p {
    margin: 20px 0;
}

.ticket-text>button {
    width: 180px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background: #EC398B;
    border: none;
    border-radius: 5px;
    color: white;
}

.subsc {
    width: 80%;
    margin: auto;
    height: 40vh;
    background: #2a1e70;
    position: absolute;
    top: 60%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.subsc>h3 {
    color: white;
    font-size: 24px;
}

.subsc>input {
    width: 40%;
    align-self: center;
    line-height: 50px;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    opacity: .2;
    color: #fff;
    padding-left: 40px;
}

.subsc>button {
    width: 140px;
    align-self: center;
    line-height: 50px;
    background: #EC398B;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.footer {
    width: 100%;
    height: 60vh;
    background: #231769;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.a-bokta {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a-bokta>p {
    width: 80%;
    margin: auto;
    color: #B4B3C5;
    margin: 20px 0;
    text-align: center;
}

span>i {
    border-radius: 50%;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0 10px;

}

span>i:hover {
    background: #EC398B;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0 10px;
}

hr {
    width: 80%;
    margin: auto;
    background: #B4B3C5;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 10vh;
    color: #B4B3C5;
}

.copy {
    width: 50%;
    height: 10vh;
}

.foot-nav {
    height: 10vh;
    width: 50%;
}

.foot-nav>ul {
    list-style: none;
    height: 10vh;
}

.foot-nav>ul>li {
    display: inline;
    margin: 0 12px;
}